{% extends 'base.html' %}
{% block title %}Analysis{% endblock %}
{% block header %}Analysis for {{ filename }}{% endblock %}
{% block content %}
<table class="table table-bordered w-auto">
  <tr><th>Start sample</th><td>{{ packet_start }}</td></tr>
  <tr><th>Pre samples</th><td>{{ pre_samples }}</td></tr>
  <tr><th>Post samples</th><td>{{ post_samples }}</td></tr>
</table>
<img class="img-fluid" src="{{ url_for('data_file', filename=image) }}" alt="Analysis">
<p class="mt-3"><a href="{{ url_for('index') }}">Back to Home</a></p>
{% endblock %}
